*.ppu
*.o

*.ro
*.sa
*.lst
*.tmp

*.~*
*.*~
*.*;*

*.cmd

pascal2.*

out
ro
src
simple

# visual studio clutter
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
.vs

Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
